NODE_ENV=development

DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres

BETTER_AUTH_SECRET="secret"
BETTER_AUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=client_id
GOOGLE_CLIENT_SECRET=client_secret

SCALEWAY_ACCESS_KEY=SCWXXXXXXXXXXXXXXXXX
SCALEWAY_SECRET_KEY=16025d1f-3306-4eff-ad7d-717bd90cc777
SCALEWAY_PROJECT_ID=16025d1f-3306-4eff-ad7d-717bd90cc777

EMAIL_FROM=hey@unsub.cash
EMAIL_NAME=Unsub
OTP_COOLDOWN_SECONDS=60

FX_RATES_API_TOKEN=token
FX_CACHE_STALE_MS=604800000

GRAFANA_AUTH_BASIC=aGVsbG8K
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost/otlp
OTEL_EXPORTER_OTLP_HEADERS="Authorization=Basic ${GRAFANA_AUTH_BASIC}"
OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY_PREFERENCE=cumulative

# silence traces completely
OTEL_TRACES_EXPORTER=none           # don’t create a trace exporter
OTEL_TRACES_SAMPLER=always_off

LOGO_CDN_URL=cdn.localhost
BUNNY_STORAGE_ZONE=logos
BUNNY_STORAGE_ACCESS_KEY=3123123-232131-123-123-123

# Public env variables
NEXT_PUBLIC_SUPPORT_EMAIL=support@unsub.cash
NEXT_PUBLIC_APP_URL=http://localhost:3000